<div class="signup-container">
  <h2 class="form-title">Sign Up Form</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input id="firstName" formControlName="firstName" placeholder="First Name">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input id="lastName" formControlName="lastName" placeholder="Last Name">
    </div>
    
    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input id="dob" formControlName="dob" placeholder="Date of Birth" type="date" [max]="maxDate | date:'yyyy-MM-dd'">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" formControlName="email" placeholder="Email" type="email">
    </div>

    <div class="form-group-inline">
      <div class="form-group">
        <label for="countryCode">Country Code</label>
        <select id="countryCode" formControlName="countryCode">
          <option *ngFor="let code of countryCodes" [value]="code.code">{{ code.country }} ({{ code.code }})</option>
        </select>
      </div>
      <div class="form-group">
        <label for="phoneNo">Phone Number</label>
        <input id="phoneNo" formControlName="phoneNo" placeholder="Phone Number">
      </div>
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input id="location" formControlName="location" placeholder="Location">
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <select id="role" formControlName="role">
        <option value="admin">Admin</option>
        <option value="super admin">Super Admin</option>
        <option value="manager">Manager</option>
        <option value="employee">Employee</option>
      </select>
    </div>


    <button type="submit" [disabled]="!signupForm.valid">Sign Up</button>
  </form>
</div>
