nav {
    display: flex; 
    justify-content: space-between; 
    padding: 1rem 2rem; 
    background: #cfd8dc; 
  }
  
  nav ul {
    display: flex; 
    list-style: none; 
    color: blue;
  }
  
  nav li {
    padding-left: 1rem; 
  }

  h2{
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font: bold;
    font-stretch: expanded;
  }

  nav{
    color: blue;
    font-size: larger;
    font-weight: bolder;
    border: 80px;
    
  }