.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px; /* Adjust height as needed */
    background-color: #f0f0f0; /* Example background color */
    padding: 10px; /* Adjust padding as needed */
  }
  
  .top-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .centered-content {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  
  .top-button {
    padding: 3px 13px;
    margin-left: 1%;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1e20;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-links {
    display: flex;
    align-items: center;
  }
  
  .right-links {
    display: flex;
    align-items: center;
  }
  
  .bottom-section a, .bottom-section .logo {
    text-decoration: none; /* Remove underline */
    color: black; /* Link color */
    margin-left: 20px; /* Adjust spacing between links */
  }
  
  .right-links {
    margin-left: auto; /* Align to the right */
  }
  