<!-- <p>table works!</p>
<app-navbar />
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email address</th>
            <th>Phone</th>
            <th>Location</th>
            <th>username</th>
            <th>RoleID</th>
            <th>Last udate time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Sunil</td>
            <td>sunillg2019&#64;gmail.com</td>
            <td>45454548</td>
            <td>M</td>
            <td>Addree</td>
            <td>adm-00056</td>
            <td>9:00 pm</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Santosh</td>
            <td>santosh2019&#64;gmail.com</td>
            <td>45454548</td>
            <td>M</td>
            <td>Hosuru</td>
            <td>man-0005</td>
            <td>9:10 pm</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Sagar</td>
            <td>sagar2019&#64;gmail.com</td>
            <td>45454548</td>
            <td>M</td>
            <td>Addree</td>
            <td>emp-5852</td>
            <td>9:15 pm</td>
        </tr>
    </tbody>
</table> -->

<app-navbar />
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email address</th>
            <th>Phone</th>
            <th>Location</th>
            <th>username</th>
            <th>RoleID</th>
            <th>Last udate time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Sunil</td>
            <td>sunillg2019&#64;gmail.com</td>
            <td>45454548</td>
            <td>M</td>
            <td>Addree</td>
            <td>adm-00056</td>
            <td>9:00 pm</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Santosh</td>
            <td>santosh2019&#64;gmail.com</td>
            <td>45454548</td>
            <td>M</td>
            <td>Hosuru</td>
            <td>man-0005</td>
            <td>9:10 pm</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Sagar</td>
            <td>sagar2019&#64;gmail.com</td>
            <td>45454548</td>
            <td>M</td>
            <td>Addree</td>
            <td>emp-5852</td>
            <td>9:15 pm</td>
        </tr>
    </tbody>
</table>